@import "src/styles/variables";

.title-text {
  font-size: 20px;
  line-height: 1.5;
  color: $color-dark;
  font-weight: 600;
  font-family: $font-proxima-nova;
}

.wrapper {
  min-height: 100vh;
  padding: 48px 0;

  .content {
    margin: 0 auto;
    width: 80vw;
  }
}
